// custom theme
$--color-primary: #ffd04b;

// @debug $--color-primary;
// @debug $--color-white;

// 改变 icon 字体路径变量，必需
$--font-path: 'element-ui/lib/theme-chalk/fonts';

// 顶部工具栏高度
$--header-height: 48px;

// import theme-chalk vars（必须放最后才能覆盖默认主题）
@import 'element-ui/packages/theme-chalk/src/common/var.scss';
